@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #FFFFFF;
    height:2000px;
}

/* header */
.header {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 3px -5px 20px 0px #bbb9b9;
    position: sticky;
    top: 0;
    z-index: 100;
}

.list {
    display: none;
}

.active {
    font-weight: bold;
}

.header .logo img {
    width: 30px;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: var(--mainColor);
    font-weight: 200px;

}

.header .logo a {
    color: var(--mainColor);
    font-weight: bold;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;

}

.nav ul li a {
    color: black;
}


.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;

}

.auth a {
    font-family: var(--subFont);
    padding: 6 30 px;
    border-radius: 10px;
    font-weight: bold;


}

.auth .login {
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: 5px 35px;


}

.auth .register {
    color: white;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: 5px 35px;

}

/* section Courses*/


.courses{
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 3px -5px 20px 0px #bbb9b9;
}
.courses.row {
    gap: 40px;
    
}
.course{
    display: flex;

    flex-wrap: wrap;
    gap: 20px;
    width:calc((100% - 40px)/2);

}
.course-item{
    padding:10px;
    width:calc((100% - 20px)/2) ;
    box-shadow: 3px -5px 20px 0px #bbb9b9;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.course-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
.course-card{
    position:relative;
 }

.course-info{
    position:absolute;
    top:0px;
    left:0px;
    right: 0;
    bottom:0;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:20px;

}
.course-info span:first-of-type{
    background-color: var(--mainColor);
    padding: 10px;

}
.course-info span:last-of-type{
    align-self: flex-end;

}
.course-descrption{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:calc((100% - 40px)/2);
    opacity: 0; 
    animation: fadeIn 3s ease forwards;
 
}
.course-item img{
    width: 100%;
    filter: brightness(80%);
}

.course-detailes .row:last-of-type{
    gap: 10px;
    color: #BBB9B8;
    justify-content: flex-start;
    
}


.course-descrption span {
    color:var(--mainColor);
    

}
.course-descrption .see-all {
    text-align: center;
    width: 150px;
    color: white;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: 5px ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.see-all:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.courses a {
    font-family: var(--subFont);
    padding: 6px 30px;
    border-radius: 10px;
    font-weight: bold;


}

/* section testmonials*/
.testmonials {
    padding: 20px;

}

.testmonials .row {
    gap: 40px;

}

.testmonials h2 {
    text-align: center;
    padding: 10px;
}

.testmonial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 8.23px 8.23px rgb(218, 216, 216);
    padding: 20px;
    box-sizing: border-box;
    width: calc((100% - 40px)/2);
    position: relative;
    opacity: 0; 
    animation: fadeIn 3s ease forwards;
}

.user-info img {
    width: 40px;
}

.user-info {
    display: flex;
    gap: 10px;
}

.testmonial ::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-right: 20px solid #F4F4F4;
    border-top: 20px solid #F4F4F4;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;

}

/* footer */
.footer {
    background-color: #393E46;
    color: white;
    padding: 20px;
    font-weight: 300px;


}

.footer a {
    color: white;

}

.footer .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: var(--mainColor);
    font-weight: 200px;

}

.footer .logo img {
    width: 30px;
}

.footer .row {
    gap: 20px;

}

.footer .icons img {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    padding: 10px;

}

.footer-start {
    width: calc((100% - 30px) / 2);
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-end {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer-end nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

}

.footer-end .footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-item-header {

    font-weight: bold;
}

/*  start to responsve header */
@media screen and (max-width: 324px) {

    .nav,
    .auth {
        display: none;

    }

    .list {
        display: block;
        order: 2;
    }

    .container {
        width: calc(100% - 40px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        color: var(--mainColor);
        font-weight: normal;
    }




}

@media screen and (min-width:325px) and (max-width: 403px) {

    .nav,
    .auth {
        display: none;

    }

    .list {
        display: block;
        order: 2;
    }

    .container {

        width: calc(100% - 60px);
    }

    .header .logo img {
        width: 25px;
    }

    .header .logo a {
        color: var(--mainColor);
        font-weight: normal;
    }

}

@media screen and (min-width:404px) and (max-width: 920px) {

    .nav,
    .auth {
        display: none;

    }

    .list {
        display: block;
        order: 2;
    }

}

/* End of responsve header */

/*  start to responsve course */
@media (max-width: 768px) {
    .course {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .course-item {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }

    .course-descrption {
        width: 100%;
    }
}
/*  end to responsve course */

/*  start to responsve footer */
@media screen and (max-width:768px) {
    .footer-start {
        width: 100%;

    }

    .footer-end {
        gap: 10px;
    }

    .footer-end .footer-item {
        width: calc((100% 10px)/4)
    }

}

@media screen and (max-width:576px) {
    .footer-end {
        gap: 10px;
    }

    .footer-start p {
        display: none;
    }

    .footer-end .footer-item {
        width: calc((100% 10px) / 3)
    }
}

@media screen and (max-width: 460px) {
    .footer-end .footer-item {
        width: 100%;
        text-align: center;
    }
}

/* End of responsve footer */

/*Animation course*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}