@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #e0ddddf8;

}

/* header */
.header {
    background-color: #FFFFFF;
    /* height: 40px; */
    padding: 20px;


}

.list {
    display: none;
}

.active {
    font-weight: bold;
}

.header .logo img {
    width: 30px;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: var(--mainColor);
    font-weight: 200px;

}

.header .logo a {
    color: var(--mainColor);
    font-weight: bold;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;

}

.nav ul li a {
    color: black;
}


.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;

}

.auth a {
    font-family: var(--subFont);
    padding: 6 30 px;
    border-radius: 10px;
    font-weight: bold;


}

.auth .login {
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: 5px 35px;


}

.auth .register {
    color: white;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: 5px 35px;

}

/* footer */
.footer {
    background-color: #393E46;
    color: white;
    padding: 20px;
    font-weight: 300px;

}

.footer a {
    color: white;

}

.footer .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: var(--mainColor);
    font-weight: 200px;

}

.footer .logo img {
    width: 30px;
}

.footer .row {
    gap: 100px;

}

.footer-start {
    width: 500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-end {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.footer-item {
    display: flex;
    gap: 10px;
    width: 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-item-header {

    font-weight: bold;
}

/*  start to responsve header */
@media screen and (max-width: 324px) {

    .nav,
    .auth {
        display: none;

    }

    .list {
        display: block;
        order: 2;
    }

    .container {
        width: calc(100% - 40px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        color: var(--mainColor);
        font-weight: normal;
    }




}

@media screen and (min-width:325px) and (max-width: 403px) {

    .nav,
    .auth {
        display: none;

    }

    .list {
        display: block;
        order: 2;
    }

    .container {

        width: calc(100% - 60px);
    }

    .header .logo img {
        width: 25px;
    }

    .header .logo a {
        color: var(--mainColor);
        font-weight: normal;
    }

}

@media screen and (min-width:404px) and (max-width: 920px) {

    .nav,
    .auth {
        display: none;

    }

    .list {
        display: block;
        order: 2;
    }

}

/* End of responsve header */
